# Binary directory
/bin
bin/

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

*.test
*.out
go.work

# IDE specific files
.idea/
.vscode/

.env
.DS_Store

# Go specific
/vendor/
*.o
/debug
/debug.test
debug/

data/output/valid_word_bank.txt
